<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.mofang">

    <application
        tools:replace="icon,label,theme"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleTask"
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".solution.SolutionActivity" />
        <activity android:name=".query.QueryActivity" />
        <activity
            android:name=".webview.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="bmob" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="589b057f75ca351a480002fd" />

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="53ae7b97cf59a9ae007ead82284dfe6a" />


        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--<activity-->
            <!--android:name="com.umeng.qq.tencent.AuthActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:noHistory="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data android:scheme="tencent100424468" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.umeng.qq.tencent.AssistActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!-- 此部分代码需要移植到您的 app 下的 manifest，并且 authorities 指定您的包名。例如：com.android.FileProvider -->
        <!-- 否则使用拍照功能时，会崩溃 -->

        <!--会话界面-->


        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="com.example.administrator.mofang.FileProvider"-->
        <!--android:grantUriPermissions="true"-->
        <!--android:exported="false">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/rc_file_path"/>-->
        <!--</provider>-->
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />



    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--允许一个应用程序来管理文档的访问，通常是一个文档选择器部分-->
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

</manifest>